* {
  box-sizing: border-box;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.flex-section {
  min-width: 576px;
  padding: 10px;

  background-color: #f3f1f1;
}

.list-btns {
  margin-top: 20px;
}

.list-btns-item {
  display: inline-block;
}

.title {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.btn {
  padding: 1rem;

  text-transform: uppercase;

  color: black;
  border: 3px solid #4cc5f3;
  background-color: white;

  font-weight: bold;
}

.btn-active {
  color: white;
  background-color: #4cc5f3;
}


.outer-border {
  margin-top: 20px;
  padding: 5px;

  border: 3px solid #4cc5f3;
  background-color: white;
}

.inner-border {
  min-height: 200px;

  border: 1px dotted black;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-element {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1px;

  background-color: rgb(152 223 251);
}

.content {
  padding: 1rem;

  color: rgb(39 118 149);

  font-family: sans-serif;
  font-size: 2rem;
}